---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
// import Scheduler from "../components/Scheduler.astro";
---

<Layout title="Welcome to Astro.">
	<main class="m-auto p-1 w-5/6 text-content leading-relaxed">
		<h1 class="mt-8 h-8 text-7xl font-bold leading-4 text-center mb-4">
			<!-- <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white" > -->
			Welcome to <span class="text-gradient">Astro</span>
		</h1>
		<p class="mb-8 border border-solid border-accent-1 p-6 rounded rounded-b">
			To get started, open the directory <code>src/pages</code> in your project.<br
			/>
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>
		<ul role="list">
			<li class="text-xl text-primary">text color primary</li>
			<li class="text-xl text-secondary">text color secondary</li>
			<li class="text-xl text-accent-1">text color accent 1</li>
			<li class="text-xl text-accent-2">text color accent-2</li>
			<li class="text-xl text-accent-3">text color accent-3</li>
		</ul>
	</main>

	<!-- Morgen -->
	<!-- <Scheduler /> -->
</Layout>
